aiohappyeyeballs==2.6.1
aiohttp==3.12.7
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
anyio==4.9.0
asyncpg==0.30.0
attrs==25.3.0
base58==2.1.1
bio==1.8.0
biopython==1.85
biothings_client==0.4.1
blis==0.7.11
catalogue==2.0.10
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
confection==0.1.5
conllu==6.0.0
construct==2.10.68
construct-typing==0.5.6
cymem==2.0.11
databases==0.9.0
dataclasses-json==0.6.7
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
faiss-cpu==1.11.0

# This Came from feat/google-login
fastapi==0.115.12
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.5.1
gprofiler-official==1.0.0
greenlet==3.2.2
h11==0.16.0
hf-xet==1.1.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.32.3
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonalias==0.1.1
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.3.43
language_data==1.3.0
lxml==5.4.0
Mako==1.3.10
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.4.4
murmurhash==1.0.13
mygene==3.2.2
mypy_extensions==1.1.0
neo4j==5.28.1
networkx==3.5
nltk==3.9.1
nmslib-metabrainz==2.1.3
numpy==1.26.4
openai==1.82.1
orjson==3.10.18
packaging==24.2
pandas==2.2.3
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pooch==1.8.2
preshed==3.0.10
propcache==0.3.1
psutil==7.0.0
psycopg2-binary==2.9.10
pybind11==2.13.6
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.19.1
PyMuPDF==1.26.0
pysbd==0.3.4
pytest==8.4.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
scispacy==0.5.5
sentence-transformers==4.1.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
solana==0.36.6
solders==0.26.0
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
srsly==2.5.1
starlette==0.46.2
sympy==1.14.0
tenacity==9.1.2
thinc==8.2.5
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.2.2
tqdm==4.67.1
transformers==4.52.4
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.3
uvloop==0.21.0
wasabi==1.1.3
watchfiles==1.0.5
weasel==0.4.1
websockets==15.0
wrapt==1.17.2
yarl==1.20.0
zstandard==0.23.0
# This Came from feat/google-login

numpy<2.0
asyncpg
databases
psycopg2-binary
neo4j
solana>=0.30.0,<0.37.0
base58

#Biomedical NLP
spacy>=3.6.1
scispacy
#nlp = spacy.load("en_core_sci_md")
pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_md-0.5.3.tar.gz

#nlp = spacy.load("en_ner_bionlp13cg_md")
# pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_ner_bionlp13cg_md-0.5.3.tar.gz